name: Angular + Capacitor Test
# Controls when the action will run. Triggers the workflow on push or pull request
# events but only for the master branch
on:
  push:
    branches: [ master ]

#   schedule:
#     - cron:  '1 22 * * *'

    # * is a special character in YAML so you have to quote this string


jobs:
  # This will build an IPA & Upload the artifact in iOS.zip
  increment-version:
    runs-on: macos-latest
    steps:
    - uses: actions/checkout@master

    - name: Test
      run: |
        cd ios/
        agvtool new-marketing-version 1.0.9



    - uses: stefanzweifel/git-auto-commit-action@v4
      with:
         commit_message: bump version

  # build-ios-appstore-test:
  #   runs-on: ubuntu-latest
  #   steps:
  #     - name: Angular Capacitor Appstore iOS
  #       uses: ionic-team/appflow-build@v1
  #       with:
  #         token: ${{ secrets.SECRET }}
  #         app-id: 343be370
  #         platform: iOS
  #         build-type: app-store
  #         certificate: deploy
  #         native-config: ios_prod
  #         destinations: appstore
  #         upload-artifact: ios
  #         artifact-retention-days: 1

      # - name: Report Status
      #   if: always()
      #   uses: likhith99/notify-slack-action@master
      #   with:
      #     status: ${{ job.status }}
      #     notify_when: 'failure'
      #   env:
      #     SLACK_WEBHOOK_URL: ${{ secrets.ACTION_MONITORING_SLACK }}
