name: Angular + Capacitor Test
# Controls when the action will run. Triggers the workflow on push or pull request
# events but only for the master branch
on:
  push:
    branches: [ master ]

#   schedule:
#     - cron:  '1 22 * * *'

    # * is a special character in YAML so you have to quote this string


jobs:
  # This will build an IPA & Upload the artifact in iOS.zip
  increment-version:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v2
        with:
          token: ${{ secrets.GITHUB_TOKEN }}
      # - uses: yanamura/ios-bump-version@v1
      #   with:
      #     version: 1.1.0
      #     # build-number: ${{github.run_number}}
      #     # project-path: ./ios #Example for React Native project
      - name: update
        run: |
          VERSION_NUMBER=1.0.2
          info_plist="ios/App/App/Info"
          info_plist_ext="${INFO_PLIST}.plist"
          BUILD_NUMBER="$(defaults read $INFO_PLIST CFBundleVersion)"
          ((BUILD_NUMBER+=1))

          defaults write $info_plist CFBundleShortVersionString $VERSION_NUMBER
          defaults write $info_plist CFBundleVersion $BUILD_NUMBER
          plutil -convert xml1 $INFO_PLIST_EXT

          echo "Released $VERSION_NUMBER"
          echo "Incremented build number to $BUILD_NUMBER"
          git add .
          git commit -m "bump version"
          git push origin HEAD

  # build-ios-appstore-test:
  #   runs-on: ubuntu-latest
  #   steps:
  #     - name: Angular Capacitor Appstore iOS
  #       uses: ionic-team/appflow-build@v1
  #       with:
  #         token: ${{ secrets.SECRET }}
  #         app-id: 343be370
  #         platform: iOS
  #         build-type: app-store
  #         certificate: deploy
  #         native-config: ios_prod
  #         destinations: appstore
  #         upload-artifact: ios
  #         artifact-retention-days: 1

      # - name: Report Status
      #   if: always()
      #   uses: likhith99/notify-slack-action@master
      #   with:
      #     status: ${{ job.status }}
      #     notify_when: 'failure'
      #   env:
      #     SLACK_WEBHOOK_URL: ${{ secrets.ACTION_MONITORING_SLACK }}
